<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Class SchoolAthletics\Admin\Page</title>

	<link rel="stylesheet" href="resources/bootstrap.min.css?973e37a8502921d56bc02bb55321f45b072b6f71">
	<link rel="stylesheet" href="resources/style.css?49f43d3208c5d7e33fa16d36107a345bf11cc00d">

</head>

<body>
	<nav id="navigation" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="index.html" class="navbar-brand">Overview</a>
			</div>
			<div class="collapse navbar-collapse">

                <form id="search" class="navbar-form navbar-left" role="search">
                    <input type="hidden" name="cx" value="">
                    <input type="hidden" name="ie" value="UTF-8">
                    <div class="form-group">
                        <input type="text" name="q" class="search-query form-control" placeholder="Search">
					</div>
				</form>

				<ul class="nav navbar-nav">
					<li>
						<a href="namespace-SchoolAthletics.Admin.html" title="Summary of SchoolAthletics\Admin"><span>Namespace</span></a>
					</li>
					<li class="active">
<span>Class</span>					</li>





				</ul>
			</div>
		</div>
	</nav>

	<div id="left">
	<div id="menu">

		<div id="groups">
				<h3>Namespaces</h3>
			<ul>
					<li class="active">
						<a href="namespace-SchoolAthletics.html">
							SchoolAthletics<span></span>
						</a>
							<ul>
					<li class="active">
						<a href="namespace-SchoolAthletics.Admin.html">
							Admin<span></span>
						</a>
							<ul>
					<li>
						<a href="namespace-SchoolAthletics.Admin.Pages.html">
							Pages						</a>
							</li>
								</ul></li>
					<li>
						<a href="namespace-SchoolAthletics.Widgets.html">
							Widgets						</a>
							</li>
								</ul></li>
			</ul>
		</div>


		<div id="elements">
			<h3>Classes</h3>
			<ul>
				<li><a href="class-SchoolAthletics.Admin.Admin.html">Admin</a></li>
				<li><a href="class-SchoolAthletics.Admin.Menus.html">Menus</a></li>
				<li><a href="class-SchoolAthletics.Admin.Notice.html">Notice</a></li>
				<li class="active"><a href="class-SchoolAthletics.Admin.Page.html">Page</a></li>
			</ul>





		</div>
	</div>
</div>

<div id="splitter"></div>

<div id="right">
	<div id="rightInner">
<div id="content" class="class">
	<h1>Class Page</h1>


	<div class="description">
	<p>Page Class.</p>
	</div>



	<div>
		<h3>Direct known subclasses</h3>
		<p class="elementList">
			<code><a href="class-SchoolAthletics.Admin.Pages.Organizations.html">SchoolAthletics\Admin\Pages\Organizations</a></code>, 
			<code><a href="class-SchoolAthletics.Admin.Pages.Roster.html">SchoolAthletics\Admin\Pages\Roster</a></code>, 
			<code><a href="class-SchoolAthletics.Admin.Pages.Schedule.html">SchoolAthletics\Admin\Pages\Schedule</a></code>, 
			<code><a href="class-SchoolAthletics.Admin.Pages.SchoolAthletics.html">SchoolAthletics\Admin\Pages\SchoolAthletics</a></code>, 
			<code><a href="class-SchoolAthletics.Admin.Pages.Settings.html">SchoolAthletics\Admin\Pages\Settings</a></code>, 
			<code><a href="class-SchoolAthletics.Admin.Pages.Sports.html">SchoolAthletics\Admin\Pages\Sports</a></code>, 
			<code><a href="class-SchoolAthletics.Admin.Pages.Staff.html">SchoolAthletics\Admin\Pages\Staff</a></code>, 
			<code><a href="class-SchoolAthletics.Admin.Pages.YourSchool.html">SchoolAthletics\Admin\Pages\YourSchool</a></code>
		</p>
	</div>






	<div class="alert alert-info">
		
		
		<b>Namespace:</b> <a href="namespace-SchoolAthletics.html">SchoolAthletics</a>\<a href="namespace-SchoolAthletics.Admin.html">Admin</a><br>
		

			<b>Located at</b> <a href="source-class-SchoolAthletics.Admin.Page.html#17-89" title="Go to source code">includes/admin/class-Page.php</a>
		<br>
	</div>



		<div class="panel panel-default">
			<div class="panel-heading"><h2>Methods summary</h2></div>
			<table class="summary table table-bordered table-striped methods" id="methods">
		<tr data-order="__construct" id="___construct">

			<td class="attributes"><code>
				 public 
				
				
				</code>
			</td>

			<td class="name"><div>
			<a class="anchor" href="#___construct">#</a>
			<code><a href="source-class-SchoolAthletics.Admin.Page.html#22-37" title="Go to source code">__construct</a>( )</code>

			<div class="description short">
				
			</div>

			<div class="description detailed hidden">
				







			</div>
			</div></td>
		</tr>
		<tr data-order="header" id="_header">

			<td class="attributes"><code>
				 public static
				
				
				</code>
			</td>

			<td class="name"><div>
			<a class="anchor" href="#_header">#</a>
			<code><a href="source-class-SchoolAthletics.Admin.Page.html#39-44" title="Go to source code">header</a>( )</code>

			<div class="description short">
				<p>Admin page header</p>
			</div>

			<div class="description detailed hidden">
				<p>Admin page header</p>







			</div>
			</div></td>
		</tr>
		<tr data-order="scripts" id="_scripts">

			<td class="attributes"><code>
				 public 
				
				
				</code>
			</td>

			<td class="name"><div>
			<a class="anchor" href="#_scripts">#</a>
			<code><a href="source-class-SchoolAthletics.Admin.Page.html#46-51" title="Go to source code">scripts</a>( )</code>

			<div class="description short">
				<p>Probably should load scripts and styles with this. But it doesn't work yet, so just calling wp_enqueue_style() in the __construct.</p>
			</div>

			<div class="description detailed hidden">
				<p>Probably should load scripts and styles with this. But it doesn't work yet, so just calling wp_enqueue_style() in the __construct.</p>







			</div>
			</div></td>
		</tr>
		<tr data-order="footer_text" id="_footer_text">

			<td class="attributes"><code>
				 public static
				
				
				</code>
			</td>

			<td class="name"><div>
			<a class="anchor" href="#_footer_text">#</a>
			<code><a href="source-class-SchoolAthletics.Admin.Page.html#53-59" title="Go to source code">footer_text</a>( )</code>

			<div class="description short">
				<p>Admin page foot text</p>
			</div>

			<div class="description detailed hidden">
				<p>Admin page foot text</p>







			</div>
			</div></td>
		</tr>
		<tr data-order="wizard" id="_wizard">

			<td class="attributes"><code>
				 public static
				
				
				</code>
			</td>

			<td class="name"><div>
			<a class="anchor" href="#_wizard">#</a>
			<code><a href="source-class-SchoolAthletics.Admin.Page.html#61-66" title="Go to source code">wizard</a>( )</code>

			<div class="description short">
				<p>Form to force season and sport choice.</p>
			</div>

			<div class="description detailed hidden">
				<p>Form to force season and sport choice.</p>







			</div>
			</div></td>
		</tr>
		<tr data-order="parse_csv" id="_parse_csv">

			<td class="attributes"><code>
				 public static
				
				
				</code>
			</td>

			<td class="name"><div>
			<a class="anchor" href="#_parse_csv">#</a>
			<code><a href="source-class-SchoolAthletics.Admin.Page.html#68-87" title="Go to source code">parse_csv</a>( <span> <var>$csv</var></span> )</code>

			<div class="description short">
				<p>Parse CSV string with , delimiter and line break to end row.</p>
			</div>

			<div class="description detailed hidden">
				<p>Parse CSV string with , delimiter and line break to end row.</p>







			</div>
			</div></td>
		</tr>
			</table>
		</div>











</div>
	</div>

	<div id="footer">
		 API documentation generated by <a href="http://apigen.org">ApiGen</a>
	</div>
</div>
<script src="resources/combined.js"></script>
<script src="elementlist.js"></script>
</body>
</html>
